body {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #333;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

article {
    margin: 0 auto;
    max-width: 19cm;
    padding: 0 3.0rem;
}

section {
    margin-top: 1.0rem;
    border-top: 1px solid #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: 'Fira Sans Condensed';
}

h1,
h2,
h3 {
    margin-top: 1rem;
}

h4,
h5,
h6 {
    margin: 0.5rem 0;
}

article > h1 {
    margin-bottom: 0;
}
article > h2 {
    margin-top: 0;
    color: #555;
}

section > header {
    font-size: 1em;
    font-weight: 700;
    margin: 1rem 0;
}

dd {
    margin: 0 0 .5rem;
}
dt {
    font-weight: 700;
}

dl.table-list dd:after {
    content: "";
    display: block;
}
dl.table-list dt {
    display: inline-block;
    margin-top: 0.5rem;
    min-width: 5rem;
}
dl.table-list dd {
    margin: 0;
    display: inline;
}

.role {
    color: #555;
}

.description {
    font-size: 0.75em;
    color: #555;
}

.date-range {
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.25;
    color: #555;
}


.work {
    margin: 1.5rem 0;
}
.work .date-range,
.projects .date-range {
    float: right;
    line-height: 2.25;
}
.work .role:after {
    content: ", "
}
.work h3 {
    margin-bottom: 0;
}
.work .description {
    margin-top: 0rem;
}

.unmarked-list {
    list-style: none;
    padding: 0;
}

.column-list {
    display: flex;
}

ul.column-list {
    margin: -1rem;
}
.column-list > li {
    margin: 1rem;
}

ul.inline-list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.inline-list li {
    display: inline-block;
}
ul.inline-list li:after {
    content: ", ";
}
ul.inline-list li:last-child:after {
    content: "";
}

.highlights {
    list-style: disc;
    list-style-position: outside;
    padding: 0 0 0 1.5rem;
}

.education h3,
.education p {
    margin: 0;
}

.skills .highlights {
    list-style: none;
    padding: 0;
}


