body {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #333;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5;
}

article {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
}

section {
    margin-top: 2.0rem;
    border-top: 1px solid #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
}

article > h1 {
    margin-bottom: 0;
}
article > h2 {
    margin-top: 0;
    color: #555;
}

dt {
    font-weight: 600;
}

dl.table-list dd:after {
    content: "";
    display: block;
}
dl.table-list dt {
    color: #555;
    display: inline-block;
    margin-top: 0.5rem;
    min-width: 5rem;
}
dl.table-list dd {
    margin: 0;
    display: inline;
}


.company-description {
    font-size: 0.75em;
    color: #555;
}

.date-range {
    float: right;
    font-weight: 300;
    font-size: 0.75em;
}

.unmarked-list {
    list-style: none;
    padding: 0;
}