header {
    padding-top: 1rem;
}

h1 small {
    font-size: 0.45em;
    letter-spacing: 0;
    color: #555;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.tomlresume-editor {
    font-family: 'Inconsolata', monospace;
    min-height: 50rem;
    color: #333;
    font-size: 0.8em;
    white-space: pre;
}

.tomlresume-iframe {
    width: 100%;
    height: 50rem;
    border: 0;
}