<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{title}}</title>

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Lato" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet" />
        <link href="assets/resume.css" rel="stylesheet" />
    </head>
    <body>
        <article>
            {{#basics}}
            <h1>{{name}}</h1>
            <h2>{{label}}</h2>

            <section>
                <dl class="table-list">
                    {{#location}}
                        <dt>Location</dt>
                        <dd>{{postalCode}} {{countryCode}} {{region}} {{city}} {{address}}</dd>
                    {{/location}}
                    {{#url}}
                        <dt>Website</dt>
                        <dd><a href="{{url}}">{{url}}</a></dd>
                    {{/url}}
                    {{#phone}}
                        <dt>Phone</dt>
                        <dd><a href="tel:{{phone}}">{{phone}}</a></dd>
                    {{/phone}}
                    {{#email}}
                        <dt>Email</dt>
                        <dd><a href="mailto:{{email}}">{{email}}</a></dd>
                    {{/email}}

                    {{#profiles.length}}
                        {{#profiles}}
                        <dt>{{network}}</dt>
                        <dd><a href="{{url}}">{{url}}</a></dt>
                        {{/profiles}}
                    {{/profiles.length}}
                </dl>
            </section>

            <section>
                <p>{{summary}}</p>
            </section>
            {{/basics}}

            {{#work.length}}
            <section>
                <header>Experience</header>

                <ol class="unmarked-list">
                {{#work}}
                <li class="work">
                    <h3>
                        <span class="role">{{position}}</span>
                        <a class="name" href="{{url}}">{{name}}</a>
                        <span class="date-range">{{startDate}} — {{endDate}}</span>
                    </h3>
                    {{#description}}
                    <p class="description">
                        {{.}}
                    </p>
                    {{/description}}
                    <p>{{summary}}</p>
                    <ul class="highlights">
                        {{#highlights}}
                        <li>{{.}}</li>
                        {{/highlights}}
                    </ul>
                </li>
                {{/work}}
                </ul>
            </section>
            {{/work.length}}

            {{#projects.length}}
            <section class="projects">
                <header>Projects</header>

                {{#projects}}
                <h3>
                    {{name}}
                    <span class="date-range">{{startDate}} — {{endDate}}</span>
                </h3>
                <p class="description">
                    <a href="{{url}}">{{url}}</a>
                    {{description}}
                </p>
                <ul class="role inline-list">
                    {{#roles}}
                    <li>{{.}}</li>
                    {{/roles}}
                </ul>
                <ul>
                    {{#highlights}}
                    <li>{{.}}</li>
                    {{/highlights}}
                    {{#keywords}}
                    <li>{{.}}</li>
                    {{/keywords}}
                </ul>
                {{/projects}}
            </section>
            {{/projects.length}}

            {{#skills.length}}
            <section class="skills">
                <header>Skills</header>

                <ul class="unmarked-list column-list">
                    {{#skills}}
                    <li>
                        {{#name}}
                        <h4>{{.}}</h4>
                        {{/name}}
                        <ul class="highlights">
                            {{#keywords}}
                            <li>{{.}}</li>
                            {{/keywords}}
                        </ul>
                    </li>
                    {{/skills}}
                </ul>
            </section>
            {{/skills.length}}

            {{#education.length}}
            <section class="education">
                <header>Education</header>

                {{#education}}
                <h3>{{institution}}</h3>
                <p>{{area}}, {{studyType}}</p>
                <p>
                    {{#startDate}}
                        <span class="date-range">{{startDate}} — {{endDate}}</span>
                    {{/startDate}}
                </p>
                {{#courses.length}}
                <ul class="inline-list">
                    {{#courses}}
                    <li>{{.}}</li>
                    {{/courses}}
                </ul>
                {{/courses.length}}
                {{/education}}
            </section>
            {{/education.length}}

            {{#languages.length}}
            <section>
                <header>Languages</header>

                <dl class="table-list">
                {{#languages}}
                    <dt>{{language}}</dt>
                    <dd>{{fluency}}</dd>
                {{/languages}}
                </dl>
            </section>
            {{/languages.length}}

            {{#interests.length}}
            <section>
                <header>Interests</header>

                <ul class="unmarked-list column-list">
                    {{#interests}}
                    <li>
                        <h4>{{name}}</h4>
                        <ul class="highlights">
                            {{#keywords}}
                            <li>{{.}}</li>
                            {{/keywords}}
                        </ul>
                    </li>
                    {{/interests}}
                </ul>
            </section>
            {{/interests.length}}

            {{#references.length}}
            <section>
                <header>References</header>

                <dl>
                {{#references}}
                    <dt>{{name}}</dt>
                    <dd>{{reference}}</dd>
                {{/references}}
                </dl>
            </section>
            {{/references.length}}
        </article>
    </body>
</html>