<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{title}}</title>

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet" />
        <link href="assets/resume.css" rel="stylesheet" />
    </head>
    <body>
        <article>
            {{#basics}}
            <h1>{{name}}</h1>
            <h2>{{label}}</h2>

            <section>
                <header>
                    <h2>About</h2>
                </header>
                <p>{{summary}}</p>
                <dl>
                    {{#location}}
                        <dt>Location</dt>
                        <dd>{{postalCode}} {{countryCode}} {{region}} {{city}} {{address}}</dd>
                    {{/location}}
                    {{#website}}
                        <dt>Website</dt>
                        <dd><a href="{{website}}">{{website}}</a></dd>
                    {{/website}}
                    {{#phone}}
                        <dt>Phone</dt>
                        <dd><a href="tel:{{phone}}">{{phone}}</a></dd>
                    {{/phone}}
                    {{#email}}
                        <dt>Email</dt>
                        <dd><a href="mailto:{{email}}">{{email}}</a></dd>
                    {{/email}}

                    {{#profiles.length}}
                        {{#profiles}}
                        <dt>{{network}}</dt>
                        <dd><a href="{{url}}">{{url}}</a></dt>
                        {{/profiles}}
                    {{/profiles.length}}
                </dl>
            </section>
            {{/basics}}

            {{#work.length}}
            <section>
                <header>
                    <h2>Work Experience</h2>
                </header>

                {{#work}}
                <h3>
                    <span class="company-dates">{{startDate}} — {{endDate}}</span>
                    {{position}},
                    <a href="{{website}}">{{company}}</a>
                </h3>
                <p class="company-description">{{companyDescription}}</p>
                <p>{{summary}}</p>
                <ul>
                    {{#highlights}}
                    <li>{{.}}</li>
                    {{/highlights}}
                </ul>
                {{/work}}
            </section>
            {{/work.length}}

            {{#education.length}}
            <section>
                <header>
                    <h2>Education</h2>
                </header>

                {{#education}}
                <h3>{{institution}}</h3>
                <h4>{{area}}</h4>
                <p>{{startDate}} - {{endDate}}</p>
                <p>{{studyType}}</p>
                <ul>
                    {{#courses}}
                    <li>{{.}}</li>
                    {{/courses}}
                </ul>
                {{/education}}
            </section>
            {{/education.length}}

            {{#skills.length}}
            <section>
                <header>
                    <h2>Skills</h2>
                </header>
                {{#skills}}
                <ul>
                    <li>
                        <h4>{{name}}</h4>
                        <ul>
                            {{#keywords}}
                            <li>{{.}}</li>
                            {{/keywords}}
                        </ul>
                    </li>
                </ul>
                {{/skills}}
            </section>
            {{/skills.length}}

            {{#references.length}}
            <section>
                <header>
                    <h2>References</h2>
                </header>
                {{#references}}
                <p>{{reference}} -
                    <strong>{{name}}</strong>
                </p>
                {{/references}}
            </section>
            {{/references.length}}
        </article>
    </body>
</html>